<mat-drawer-container class="map-container">
  <mat-drawer class="side-nav" #drawer mode="side">
    <mat-nav-list>
      <h3 mat-list-item (click)="showSettings = !showSettings">
        <strong>Map Settings</strong>
      </h3>
      <mat-card *ngIf="showSettings">
        <app-settings></app-settings>
      </mat-card>
      <h3 mat-list-item (click)="showTable = !showTable">Features Table</h3>
      <mat-card *ngIf="showTable">
        <app-table></app-table>
      </mat-card>
      <h3 mat-list-item (click)="showChart = !showChart">Plot Dispersion</h3>
      <mat-card *ngIf="showChart">
        <app-chart></app-chart>
      </mat-card>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="map-content">
    <mat-toolbar color="primary">
      <!-- hamburger -->
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="toolbar-tool-text">Tools</h1>
      <!-- add feature buton -->
      <button mat-icon-button (click)="addFeature()">
        <mat-icon>room</mat-icon>
      </button>
      <h1 class="toolbar-tool-text">Add Feature</h1>
      <!-- back button -->
      <button mat-icon-button (click)="back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h1 class="toolbar-tool-text">Back</h1>
    </mat-toolbar>
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-container class="form" *ngIf="addingSource">
  <app-form></app-form>
</ng-container>
