<!-- HEADER -->
<div id="header">
  <div id="app-name">
    <span class="name"><span class="bold-yellow">S</span>ource</span>&nbsp;
    <span class="name"><span class="bold-yellow">A</span>ssessment</span>&nbsp;
    <span class="name"><span class="bold-yellow">M</span>apping</span>&nbsp;
    <span class="name"><span class="bold-yellow">I</span>nterface</span>&nbsp;
    <span id="version-number">Version 0.5.0</span>
  </div>

  <!-- <div id="epa-seal">
    <a href="https://www.epa.gov/">
      <img
        src="https://www.epa.gov/sites/production/files/2013-06/epa_seal_verysmall_trim.gif"
        alt="US Environmental Protection Agency"
      />
    </a>
  </div> -->

  <div *ngIf="userIsAuthenticated()">
    <app-navigation></app-navigation>
  </div>
</div>
