<p>Color Scaling Factor:</p>
<mat-radio-group class="example-radio-group">
  <mat-radio-button name="relative" id="rel" value="relative" checked
    >Relative</mat-radio-button
  >
  <mat-radio-button name="absolute" id="abs" value="absolute"
    >Absolute</mat-radio-button
  >
</mat-radio-group>
<div *ngIf="mapService.gradientType === 'absolute'">
  <input
    matInput
    href="#"
    id=" absGradient"
    type="number"
    name="selector"
    value="10000"
    min="1"
    max="50000"
  /><br />
</div>
