<p>Color Scaling Factor:</p>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
    [(ngModel)]="mapService.gradientType">
    <mat-radio-button href='#' name="relative" id="rel" value="relative"
        (click)="mapService.updateLayers(mapComponent.getMapId())" checked>
        Relative </mat-radio-button><br>
    <mat-radio-button href='#' name="absolute" id="abs" value="absolute">Absolute
    </mat-radio-button>


</mat-radio-group>
<div *ngIf="mapService.gradientType === 'absolute'">
    <input [(ngModel)]="mapService.DEFAULT_GRADIENT_THRESHOLD" matInput href='#' id=" absGradient" type="number"
        name="selector" value="10000" min="1" max="50000"><br>
    <button mat-raised-button type="button" (click)="mapService.updateLayers(mapComponent.getMapId()); checkvalues()">
        Submit</button>
</div>

<br> <br>
<fieldset>
    <br><br><br>
    <p><b>Import study area .geojson file:</b></p>
    <input type="file" id="inputFeatureFile">
    <br><br><br>
    <p><b>Import features .csv file:</b></p>
    <input type="file" id="inputLocationFile">
</fieldset>