.gradient-form {
  background-color: white;
}

.abs-radio-button {
  padding-bottom: 1rem;
}

.abs-threshold-input {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-input {
  width: 80px;
  border-bottom: 1px solid lightgray;
  margin-right: 1rem;
}

mat-card {
  margin-bottom: 1rem;
}
